.idea
target/**
**/target/**
project/project/
target/
**logs/
*.iml
**/*.iml
html/
json
.ivy2/
.DS_Store
*.class
*.log

## File-based project format:
*.iws

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

